/*  JavaScript 6th Edition
    Chapter 11
    Hands-on Project 11-4

    Filename: styles.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   max-width: 640px;
   background: white;
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif; 
   -webkit-box-shadow: 10px 0px 10px rgba(50, 50, 50, 1),
                       0px 10px 10px rgba(50, 50, 50, 1),
                       -10px 0px 10px rgba(50, 50, 50, 1);
   -moz-box-shadow:    10px 0px 10px rgba(50, 50, 50, 1),
                       0px 10px 10px rgba(50, 50, 50, 1),
                       -10px 0px 10px rgba(50, 50, 50, 1);
   box-shadow:         10px 0px 10px rgba(50, 50, 50, 1),
                       0px 10px 10px rgba(50, 50, 50, 1),
                       -10px 0px 10px rgba(50, 50, 50, 1);
}

ol, ul {
   list-style: none;
}

/* page header */
header {
   background: #FFCF40;
   width: 100%;
   color: black;
   font-size: 48px;
   text-align: center;
   line-height: 1.5em;
   border-bottom: 1px solid black;
}

/* main content */
article {
   width: 640px;
   text-align: left;
   background: white;
   padding: 20px;
   overflow: auto;
}

h2 {
   font-weight: bold;
   font-size: 30px;
   text-align: center;
}

/* form */
form {
   text-align: left;
   padding: 2em;
   background: ivory;
   border: 1px solid black;
   position: relative;
   margin: 1em auto;
   font-size: 1em;
}

#csset {
   visibility: hidden;
}

input, label {
   float: left;
   margin-bottom: 0.4em;
}

label {
   width: 12em;
   text-align: right;
   margin-right: 0.4em;
   line-height: 1.4em;
}

#uslabel {
   width: auto;
   margin-left: 1.4em;
}

#zipset label, #csset label {
   clear: left;
}

#city {
   width: 12em;
}

#state {
   width: 3em;
}

#zip {
   width: 6em;
}

