/*  JavaScript 6th Edition
    Chapter 7
    Hands-on Project 7-2

    Filename: styles.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   max-width: 800px;
   background: white;
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif; 
   -webkit-box-shadow: 10px 0px 10px rgba(50, 50, 50, 1),
                       0px 10px 10px rgba(50, 50, 50, 1),
                       -10px 0px 10px rgba(50, 50, 50, 1);
   -moz-box-shadow:    10px 0px 10px rgba(50, 50, 50, 1),
                       0px 10px 10px rgba(50, 50, 50, 1),
                       -10px 0px 10px rgba(50, 50, 50, 1);
   box-shadow:         10px 0px 10px rgba(50, 50, 50, 1),
                       0px 10px 10px rgba(50, 50, 50, 1),
                       -10px 0px 10px rgba(50, 50, 50, 1);
}

ol, ul {
   list-style: none;
}

/* page header */
header {
   background: #04819E;
   width: 100%;
   color: #FFFFFF;
   font-size: 48px;
   text-align: center;
   line-height: 1.5em;
   border-bottom: 1px solid black;
}

/* main content */
article {
   text-align: center;
   background: ivory;
   padding: 20px;
}

article h2 {
   font-weight: bold;
   font-size: 24px;
   padding: 10px;
}

/* form */

form {
   padding: 10px;
   height: 145px;
}

fieldset {
   margin-bottom: 10px;
   position: relative;
   padding: 2.5em 1em 0.5em 1em;
   background: #e3d5ba;
   float: left;
   width: 40%;
   height: 125px;
}

fieldset.button {
   width: 20%;
}

input {
   font-size: 1.1em;
   width: 4em;
   clear: left;
   font-family: Arial, Helvetica, sans-serif; 
   text-align: center;
}

input:focus {
   background: #e3d5ba;
}

label {
   display: block;
}

input, label, button, form p {
   margin: 5px 10px;
}

p {
   clear: left;
}

#dateSelected {
   width: 180px;
}

#day {
   width: 120px;
   font-size: 1.1em;
   height: 1.6em;
   background: white;
   padding: 0.2em;
   margin: 10px auto;
   border: 1px solid rgb(164,164,164);
}